html, body, .container-fluid {
    height:100%;
}

.reds{
  border: 1px solid red;
}

img.gif {
    width: 100%;
    height: 100%;
}
.carousel-row{
  height: 100%;
}

.article-box>img{
  width: 85%;
}

.pic{
  height: 100%;
  width: 100%;
}

.slick-initialized.slick-slider,
.slick-list,
.slick-track{
  height: 100%;
}

.post-text-container{
  /*position: relative;*/
  height: 100%;
  line-height: 1px;
  padding: 10px;
}

.title-div{
  padding: 5px;
}
.post-title{
  font-size: 1vw;
  line-height: 100%;
}


.post{
  height: 90%;
  padding: 10px;
}

.post-meta-data{
  font-size: 7px;
  line-height: 10px;
  /*position: absolute;*/
  bottom: 0;
  padding: 10px 5px;
  margin: 10px 0px;
}

.post-meta-data.reds > p{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.list{
  height: 270px;
  padding: 10px;
}

.blue{
  margin-bottom: 40px;
  height: 40%;
  padding:10px;
}

.container-fluid.main{
  padding: 20px;
  /*background-color: #212121;*/
}

.slick-dots li.slick-active button:before{
  /*color: white !important;*/
}

.slick-slide.slick-active{
  border: 2px solid black;
  height: 250px;
}

.container.index-container-main{
  max-width: 100%
  height: 100%;
  padding:0px;
}

html, body, .container-fluid {
    height:100%;
}
